.heading-banner {
    position: relative;
    background-color: white;
    opacity: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container .logo {
    height: 80px;
    z-index: 2;
}

.veg-image {
    position: absolute;
    top: 0;
    height: 100%;
    max-width: 250px;
    object-fit: contain;
    z-index: 1;
}

.veg-image.left {
    left: 0;
}

.veg-image.right {
    right: 0;
}

.tag-line-wrapper {
    position: relative;
    order: 1;
}

.main-title {
    width: 60%;
    margin: 0px auto;
    font-size: 42px;
    color: #ce0000;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 56px;
    text-align: center;
}

.tag-line {
    position: relative;
    text-align: center;
    margin: 0px auto;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
}

.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 999;
    width: 100%;
}

.header-container {
    padding: 28px 0 90px;
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.food-logo img {
    margin-top: -6px;
    width: 230px;
}

.food-logo img:focus-visible {
    outline: unset;
}

.food-logo:focus-visible {
    outline: unset;
}

.home-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 38px;
}

.list {
    color: #ce0000;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    z-index: 10000;
}

.get-app-btn {
    display: flex;
    height: 50px;
    padding: 14px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 12px;
    border: 1px solid #ce0000;
    color: #ce0000;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transform: scale3d(1, 1, 1);
    will-change: transform;
    transition: transform .5s cubic-bezier(.215, .61, .355, 1), -webkit-transform .5s cubic-bezier(.215, .61, .355, 1);
}

.signin-btn {
    border: 1px solid black;
    color: black;
    width: 120px;
    font-weight: 500;
}

.get-app-btn:hover {
    color: white;
    background-color: #ce0000;
    border: none;
    /* transform: scale3d(1.05, 1.05, 1); */
}

.signin-btn:hover {
    color: white;
    background-color: black;
}

.get-app-btn div {
    transform: rotate(-45deg);
}

.person-logo-wrapper {
    z-index: 1000;
}

.location-search-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 26px auto 60px;
    order: 2;
    width: 100%;
}

.location-wrapper {
    position: relative;
    background: #fff;
    border-radius: 16px;
}

.location-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 16px;
    padding: 0 16px;
    grid-gap: 10px;
    border: 1.5px solid rgba(2, 6, 12, .15);
    height: 65px;
}

.input-wrapper {
    padding: 0;
    display: block;
    position: relative;
    transform: translateZ(0);
}

.input-wrapper input {
    background-color: rgba(0, 0, 0, 0);
    line-height: normal;
    border: none;
    outline: 0;
    width: 100%;
    margin: 0;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}

.input-section input {
    height: 58px !important;
    width: 240px;
    caret-color: #ce0000;
    color: rgba(2, 6, 12, 0.45);
    font-size: 18px !important;
    font-weight: 600;
    padding: 0 !important;
}

.search-wrapper {
    position: relative !important;
    padding: 0px 0px 0px 16px;
    width: 580px;
}

.search-section {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px auto;
    border-radius: 16px;
    height: 65px;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgba(2, 6, 12, 0.15);
    cursor: pointer;
}

.use-my-location-wrapper {
    position: absolute;
    top: 76px;
    left: 280px;
    border-radius: 16px;
    background: #fff;
    border: 1px solid rgba(2, 6, 12, .2);
    /* border-top-width: 0; */
    box-shadow: 0 1px 10px 0 rgba(40, 44, 63, .1);
    z-index: 9999;
    max-height: 400px;
    width: 895px;
    cursor: pointer;
}

.use-my-location-section {
    position: relative;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 0;
    width: 90%;
    gap: 12px;
    margin-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(2, 6, 12, .1490196078);
}

.recent-search-section {
    padding: 0 0 32px 24px;
    overflow-y: scroll;
    max-height: 300px;
}

.recent-search-title {
    color: rgba(2, 6, 12, .45);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 10px;
}

.recent-search-loop {
    margin-top: 24px;
    gap: 12px;
    cursor: pointer;
    color: rgba(2, 6, 12, .8);
    font-weight: 200;
    outline: 0;
    width: 100%;
    display: flex;
}

.location-icon-section {
    display: flex;
}

.recent-search-list-section {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    padding-right: 25px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    color: rgba(2, 6, 12, .6);
}

.recent-search-list {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.recent-search-list:hover {
    color: #ce0000;
}

.p-l-16 {
    display: flex;
    padding-left: 26px;
}

.search-title {
    font-weight: 600;
    font-size: 18px;
    color: rgba(2, 6, 12, 0.45);
    overflow: hidden;
    width: 100%;
    overflow-wrap: break-word;
    text-align: left;
}


.location-title {
    font-weight: 600;
    font-size: 20px;
    color: #ce0000;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    /* z-index: ; */
    position: relative;
}

.search-icon img {
    position: absolute;
    top: 20px;
    right: 16px;
    width: 35px;
    height: 20px;
}

.menu-container {
    position: relative;
}

.menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: white;
    /* background: #ce0000; */
    border-radius: 6px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #ce0000;
    padding: 12px 0;
    min-width: 180px;
    display: none;
    cursor: pointer;
}

.menu::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    top: -8px;
    left: 50%;
    box-shadow: -3px -4px 9px -4px rgba(40, 44, 63, .5);
    background-color: #fff;
    /* background-color: #ce0000; */
    border: 2px solid #ce0000;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotate(45deg);
}

.menu a {
    display: block;
    text-decoration: none;
    color: rgba(43, 43, 44, 0.9);
    font-weight: 600;
    /* font-family: 'Arial', sans-serif; */
    width: 100%;
    min-width: 13rem;
    padding: 1rem;
    padding-left: 30px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    ;
}

.menu a:hover {
    color: #ce0000;
    display: block;
}

.menu-container:hover .menu {
    display: block;
}

.food-btn-section {
    position: relative;
    display: flex;
    align-items: center;
    width: 220px;
    margin: 0px auto;
    border-radius: 16px;
    height: 65px;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgba(2, 6, 12, 0.15);
}

.food-title {
    /* font-family: "Quicksand", "sans-serif"; */
    font-weight: 500;
    font-size: 22px;
    color: rgba(2, 6, 12, 0.45);
    overflow: hidden;
    width: 100%;
    overflow-wrap: break-word;
    text-align: left;
}

.cart-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #ce0000; */
    background: white;
    margin-bottom: 10px;
    padding: 0px 8px 20px;
}

.main-cart-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    /* align-items: center;
    width: 100%; */
    max-width: 100%;
    min-height: 320px;
}

.cart-wrapper {
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    transform: scale3d(1, 1, 1);
    will-change: transform;
    transition: transform .5s cubic-bezier(.215, .61, .355, 1), -webkit-transform .5s cubic-bezier(.215, .61, .355, 1);
}

.cart-wrapper:hover {
    transform: scale3d(1.05, 1.05, 1);
}

.cart-img img {
    height: 350px;
    width: 380px;
    display: block;
}

.cart {
    height: 300px;
    width: 340px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-transform: uppercase;
    position: relative;
    z-index: 999;
}

.cart-title {
    position: relative;
}

.cart h2 {
    color: #414449;
    padding: 1px 30px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 4px;
}

.cart h4 {
    color: #8f8f91;
    padding: 1px 30px 1px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 8px;
}

.offer-section {
    max-width: 150px;
    margin-left: 30px;
    background: linear-gradient(to right, #ffe0cc 0%, #ffffff 100%);
    padding: 1px 30px 1px;
    color: #ce0000;
    font-weight: 500;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 25px;
}

.cart-image {
    padding: 18px 0px 20px 188px;
}

.cart-image img {
    width: 150px;
    height: 150px;
    border-bottom-right-radius: 25px;
}

.arrow-btn {
    background-color: #ce0000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 50px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.arrow-btn img {
    width: 35px;
    height: 35px;
}

.center {
    display: flex;
    justify-content: space-between;
}

.location-error {
    position: absolute;
    top: 65px;
    width: 100%;
    background: #fa4a5b;
    border-top-width: 0;
    box-shadow: 0 1px 7px 0 rgba(2, 6, 12, .2);
    padding: 17px;
    color: #fff;
    font-weight: 400;
    z-index: 2;
    font-size: 16px;
    text-align: left;
}