<div class="main-container">
    <div class="header-container">
        <div class="header-wrapper">
            <a href="/" class="food-logo">
                <img src="images/home/logo.png" alt="Logo" width="200" />
            </a>
            <div class="home-menu">
                <a href="" class="list">About us</a>
                <a href="" class="get-app-btn">
                    Get the App
                    <img src="images/home/arrow-up-right.svg" alt="" width="24" height="24">
                </a>
                <a *ngIf="!isAuth" (click)="openLoginDialog()" class="get-app-btn"
                    style="width: 160px; background-color: black; border: none; font-weight: 600;">
                    Sign in
                </a>
                <div class="person-logo-wrapper" *ngIf="isAuth">
                    <div class="menu-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 40 40" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M15.7607 11.8897C17.6325 11.8897 19.1488 10.4133 19.1488 8.59205C19.1488 6.77184 17.6325 5.29541 15.7607 5.29541C13.89 5.29541 12.3726 6.77184 12.3726 8.59205C12.3726 10.4133 13.89 11.8897 15.7607 11.8897ZM8.4418 18.8226C9.55113 15.9384 12.4101 13.8843 15.7607 13.8843C19.1131 13.8843 21.9711 15.9384 23.0799 18.8226C23.4596 19.8103 23.6494 20.3041 23.2438 20.8947C22.8381 21.4853 22.1753 21.4853 20.8498 21.4853H10.6717C9.34616 21.4853 8.68342 21.4853 8.27773 20.8947C7.87205 20.304 8.06197 19.8102 8.4418 18.8226Z"
                                fill="#43464A"></path>
                            <path
                                d="M40 20C40 31.0457 31.0457 40 20 40C8.9543 40 0 31.0457 0 20C0 8.9543 8.9543 0 20 0C31.0457 0 40 8.9543 40 20Z"
                                fill="#43464A"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M20.449 17.773C23.0101 17.773 25.0849 15.7528 25.0849 13.2608C25.0849 10.7702 23.0101 8.75 20.449 8.75C17.8893 8.75 15.813 10.7702 15.813 13.2608C15.813 15.7528 17.8893 17.773 20.449 17.773ZM10.4354 27.2601C11.9533 23.3136 15.8653 20.5029 20.4498 20.5029C25.037 20.5029 28.9475 23.3136 30.4646 27.26C30.9842 28.6115 31.244 29.2872 30.6889 30.0953C30.1338 30.9034 29.2269 30.9034 27.4132 30.9034H13.4865C11.6729 30.9034 10.766 30.9034 10.2109 30.0952C9.65584 29.2869 9.9157 28.6113 10.4354 27.2601Z"
                                fill="white"></path>
                        </svg>
                        <div class="menu">
                            <a href="">Profile</a>
                            <a href="">Orders</a>
                            <a (click)="logout()">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="heading-banner">
        <img src="images/home/left-veg.png" class="veg-image left" alt="Left Vegetable" />

        <div class="tag-line-wrapper">
            <div class="tag-line">
                <h2>Hungry? Order delicious food. Explore top foods. Food Mine it!</h2>
                <!-- <h2>Order food & items. Discover best foods. Food Mine it!</h2> -->
                <div class="location-search-wrapper">
                    <div class="location-wrapper">
                        <div class="location-section">
                            <img src="images/home/location.svg" alt="" width="25">
                            <div class="input-wrapper input-section">
                                <input type="text" name="location" id="location"
                                    value="Vejalpur, Ahmedabad, Gujarat, India" maxlength="30">
                            </div>
                            <div (click)="toggleLocation()" style="cursor: pointer;">
                                <img src="images/home/down-arrow.svg" alt="" width="30">
                            </div>
                        </div>
                    </div>
                    <div class="search-wrapper">
                        <div class="search-section" (click)="goToSearch()">
                            <div type="button" class="p-l-16">
                                <div class="search-title">Search for foods, item or more</div>
                            </div>
                            <div class="search-icon">
                                <img src="images/header/search-grey-icon.svg" alt="" width="35">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="use-my-location-wrapper" *ngIf="isLocationMenuOpen">
                    <div type="button" class="use-my-location-section">
                        <img src="images/home/location-icon.svg" alt="" width="20">
                        <h2 class="location-title">Use my current location</h2>
                    </div>
                    <div class="recent-search-section">
                        <div class="recent-search-title">
                            Recent searches
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-banner">
                <div class="main-cart-wrapper">
                    <div class="cart-wrapper" (click)="goToFoodPage()">
                        <div class="cart-img">
                            <div class="cart">
                                <div class="cart-title">
                                    <h2>Food Delivery</h2>
                                    <h4>From cloud kitchen </h4>
                                    <div class="offer-section">
                                        Upto 60% Off
                                    </div>
                                    <div class="center">
                                        <div class="cart-image">
                                            <img src="images/home/image.png" alt="">
                                        </div>
                                        <div class="arrow-btn">
                                            <img src="images/home/arrow-btn.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-wrapper" (click)="goToFoodPage()">
                        <div class="cart-img">
                            <div class="cart">
                                <div class="cart-title">
                                    <h2>Food Delivery</h2>
                                    <h4>From cloud kitchen </h4>
                                    <div class="offer-section">
                                        Upto 60% Off
                                    </div>
                                    <div class="center">
                                        <div class="cart-image">
                                            <img src="images/home/image.png" alt="">
                                        </div>
                                        <div class="arrow-btn">
                                            <img src="images/home/arrow-btn.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-wrapper" (click)="goToFoodPage()">
                        <div class="cart-img">
                            <div class="cart">
                                <div class="cart-title">
                                    <h2>Food Delivery</h2>
                                    <h4>From cloud kitchen </h4>
                                    <div class="offer-section">
                                        Upto 60% Off
                                    </div>
                                    <div class="center">
                                        <div class="cart-image">
                                            <img src="images/home/image.png" alt="">
                                        </div>
                                        <div class="arrow-btn">
                                            <img src="images/home/arrow-btn.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="images/home/right-veg.png" class="veg-image right" alt="Right Vegetable" />
    </div>
</div>