<div class="drawer-container">
  <button mat-btn class="close-button" mat-icon-button>
    <mat-icon *ngIf="!otpSent" (click)="close()">close</mat-icon>
    <mat-icon *ngIf="otpSent" (click)="goToBack()">arrow_back</mat-icon>
  </button>

  <div class="drawer-content">
    <div *ngIf="!otpSent">
      <h2>Login</h2>
      <p class="sub-text">or <span class="highlight" (click)="openSignUpDialog()">create an account</span></p>
    </div>

    <div *ngIf="otpSent">
      <h2>Enter OTP</h2>
      <P class="otp-sub-text">We've sent an OTP to your phone number.</P>
    </div>

    <div class="mt-50">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" />
      </mat-form-field>

      <div *ngIf="otpSent">
        <mat-form-field appearance="outline" class="input-field">
          <mat-label>One time password</mat-label>
          <input matInput type="otp" [(ngModel)]="otp" />
        </mat-form-field>
      </div>
    </div>

    <button *ngIf="!otpSent" class="login-button" (click)="login()">
      <span *ngIf="!isLoading">Login</span>
      <mat-spinner *ngIf="isLoading" diameter="24"></mat-spinner>
    </button>
    <button *ngIf="otpSent" class="login-button" (click)="verifyOtp()">
      <span *ngIf="!isLoading">Verify otp</span>
      <mat-spinner *ngIf="isLoading" diameter="24"></mat-spinner>
    </button>

    <p class="terms-text" *ngIf="!otpSent">
      By clicking on Login, I accept the
      <span class="bold">Terms & Conditions</span> & <span class="bold">Privacy Policy</span>
    </p>
  </div>

  <img src="images/signin/signin.png" class="login-image" alt="login" />
</div>

<!-- <div class="auth-container">
  <h2>Email OTP Login</h2>

  <div *ngIf="!otpSent">
    <label>Email:</label>
    <input type="email" [(ngModel)]="email" required />
    <button (click)="sendOtp()">Send OTP</button>
  </div>

  <div *ngIf="otpSent">
    <label>Enter OTP:</label>
    <input type="text" [(ngModel)]="otp" required />
    <button (click)="verifyOtp()">Verify OTP</button>
  </div>

  <p style="color: green;">{{ message }}</p>
</div> -->